.containerComputer {
    position: relative;
}

.containerComputer input {
    border: 1px solid seagreen;
    padding: 12px 44px 12px 20px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
}
.containerTelephone {
    display: none;
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.5;
    position: absolute;
    top: 12px;
    right: 16px;
}

@media (max-width: 1060px) {
    .containerComputer {
        display: none;
    }
    .containerTelephone {
        display: block;
        position: relative;
    }
    .containerTelephone input {
        width: 100%;
        border: 1px solid seagreen;
        padding: 12px 44px 12px 20px;
        border-radius: 10px;
        font-size: 16px;
    }

    .containerTelephone .icon {
        right: 34px;
    }
}