.container {
    position: relative;
}

.input {
    border: 1px solid seagreen;
    padding: 12px 44px 12px 20px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.5;
    position: absolute;
    top: 12px;
    right: 16px;
}